@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

body {
    background-image: linear-gradient(to left,#015958, #008F8C);
}

main {
    background-color:#D8FFDB;
    border-radius: 40px;
    box-shadow: 5px 5px 20px #023535ec;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #012222;
    text-align: center;
    text-shadow: 2px 2px 0px #1299994f;
}

h2 {
    color:#023d3d;
}

p {
    text-align: justify;
}